*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
.navbar{
    height: 60px;
    background-color: #131921;
    display: flex;
    color: white;
    width: 100%;
    font-size: 14px;
    justify-content: space-evenly;
}
.nav-logo{
    width: 100px;
    height: 50px;
}
.logo{
    background-image: url("amazon-logo-1.png");
    background-size: cover;
    height: 57px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
    cursor: pointer;
}
.border:hover{
    border: 1.5px solid white;
}
/* Box 2*/
.nav-address{
    margin-top: 13px;
    align-items: center;
}
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 13px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
/* Box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 700px;
    margin: 8px 15px;
}
.nav-search:hover{
    border: 2px solid rgba(235, 133, 49, 0.987);
    border-radius: 2px;
}
.search-select{
    width: 55px;
    text-align: center;
    margin-left: 5px;
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-select:click{
    border: none;
}
.search-select:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 7px;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(233, 147, 8, 0.987);
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #131921
}
.search-icon:hover{
    background-color: rgba(235, 133, 49, 0.987);
    cursor: pointer;
}
/* Box 4 */
.nav-language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-language p{
    padding-left: 5px;
}
.nav-signin{
    margin-top: 11px;
}
.nav-signin span{
    font-size: 0.75rem;
}
.signin-info{
    font-weight: 700;
}
/* Box 5 */
.nav-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart i{
    font-size: 30px;
    padding-right: 5px;
}
/* panel*/
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    align-items: center;
    color: white;
}
.panel-ops p {
    color: white;
    display: inline;
    margin-left: 15px;
    font-weight: 501;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    
}
.panel-deals{
    color: white;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url("hero-image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-text{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 30px;
}
.hero-text a{
    color: #007185;
}
/* shop section */
.shop-section{
    display: flex;
    background-color: #e2e7e6;
    justify-content: space-evenly;
}
.box{
    height: 370px;
    width: 22%;
    background-color: white;
    margin-top: 10px;
    padding: 15px 0 5px;
}
.box-image{
    background-image: url("game-image.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
}
.box-content{
    margin: 2px 17px ;
}
.box-content h2{
    padding-bottom: 5px;
    font-size: 21px;
    font-weight: 700;
    color: #0f1111;
}

.box-content p{
    color:  #007185;
    font-size: 13px;
    line-height: 2.5em;
}
.box-content a:hover{
    cursor: pointer;
    color: #c7511f;
}
/* scroll section*/
.scroll{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height: 300px;
    width: 100%;
}
.scroll-section{
    height: 250px;
    width: 95%;
    background-color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.scroll-box1{
    background-image: url("hero-pic-1.jpg");
    width: 150px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.arrow-left{
 width: 45px;
 height: 100px;  
 box-shadow: 0 1px 3px #888;
 display: flex;
 align-items: center;
 margin-left: 15px;
}
.arrow-left i{
    margin-left: 15px;
    font-size: larger;
}
.arrow-right{
    width: 45px;
    height: 100px;  
    box-shadow: 0 1px 3px #888;
    display: flex;
    align-items: center;
    margin-right: 15px;
   }
.arrow-right i{
    margin-left: 15px;
    font-size: larger;
}

/* Footer section */
footer{
    margin-top: 15px;
}
.foot-panel1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    background-color: #37475a;
    color: #fff;
    height: 40px;
}
.foot-panel2-content{
    background-color: #232f3e;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2-content p{
    font-weight: 700;
} 
ul{
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 8px;
    color: #dddddd;
}
ul a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.foot-panel3{
    background-color: #232f3e;
    border-top: 1px solid #dddddd;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer-lan{
    width: 70%;
    height: 80px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.footer-box{
    width: 25%;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}
.foot-panel3{
    display: flex;
    color: white;
}
.last-foot{
    background-color: #131a22;
    height: 190px;
}
.last-foot-div1{
    height: 135px;
    display: flex;
    justify-content:space-evenly;
}
.last-foot-box1{
    width: 75px;
    height: 100px;
    margin-top: 15px;
}
.last-foot-box1 h2{
    font-size: 12px;
    font-weight: 501;
    color: #ddd;
}
.last-foot-box1 p{
    font-size: 12px;
    color: #999;
}

.footer-end{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-end i{
    color: white;
}
.footer-end a{
    color: #ddd;
    font-size: 12px;
    cursor: pointer;
    margin-left: 13px;
    font-weight: 501;
}
.footer-license{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color: #131a22;
    font-size: 12px;
}